[Unit]
Description=NICE DCV tests sessions creation
After=graphical.target

[Service]
PermissionsStartOnly=true
ExecStart=/bin/bash --login -c "/bin/dcv create-session --owner user001 --user user001 user001session; /bin/dcv create-session --owner user002 --user user002 user002session"
Restart=no
User=root
Group=root

[Install]
WantedBy=graphical.target
